*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color:#34568B;
}

.popup{
    /* display: none; */
}
.popup{
    text-align: center;
    margin-top: 15%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #FF6F61;
    transform: translate(-15% , -30% , -30%);
    padding: 20px ;
    border-radius: 10px;
    height: 220px;
    box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.5);
   
}

.popup p {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}

.main {
    padding-top: 10px;
    font-size: 30px;
}

.btnX , .btnO {
    padding: 10px;
    font-size: 25px;
    width: 30%;
    border-radius: 15px;
    background-color: #363945;
    color: aliceblue;
}
.buttons{
    margin-top: 4%;
    display: flex;
    justify-content: space-around;
}

.buttons , .popup {
    transition: all 1.2s ease-in-out;  
}

button:hover{
    transform: scale(1.2);  
    cursor: pointer;
}

.work{
    text-align: center;
    margin-top: 1.5%;
    margin-left: 29%;
    margin-right: 27%;
    padding: 20px
}
.workPlayer{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
    align-items: center;
    height:5vw;
    padding: 2vw;
    font-size: 1.9vw;
    border-radius: 5vw;
    margin-bottom: 2vw;
    cursor: pointer;
}

.play{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5vw;
}
.game{
    margin: 0.5vw;
    transition: all 1.2s ease-in-out;
}
.game{
    display: none;
}
.aim{
background-color: #EDD59E;
height: 10.5vw;
border-radius: 1vw;
text-align: center;
padding: 2vw;
font-size: 5vw;
cursor: pointer;
}

.aim:hover{
    transform: scale(0.9);   
}
.active{
    margin: 1vw;
    background-color:#34568B;
    border-radius: 5vw;
    text-align: center;
    padding: 0.5vw;
    color: white;
    height: 4vw;
    width: 15vw;
}

.result{
    text-align: center;
    margin-top: 4%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #FF6F61;
    transform: translate(-15% , -30% , -30%);
    padding: 3vw ;
    border-radius: 1.5vw;
    height: 16vw;   
    transition: all 1.2s ease-in-out;
    box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.5);
}
.ok{
    background-image: url('imm.gif');
}
.o{
    background-image: url('im.webp');
}

.result{
    display: none;
}
.winner{
    font-size: 2.5vw;
    font-weight: bolder;
    text-align: center;
    margin-top: 11vw;
    color: whitesmoke;
}
.result > button {
    margin: 4.5%;
    margin-top: 15%;
    font-size: 2vw;
    padding: 1.5vw;
    border-radius: 2vw;
    color: white;
    background-color:#9B2335;
}

@media screen and (max-width: 1024px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .popup{
        text-align: center;
       width: 95vw;
       height: 95vw;
       margin-top: 30%;
       margin-left: 3%;
    }
    .buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 110vw;
        height: 20vw;
        margin-top: 10%;
        margin-left: -15%;
    }   
 
    .popup p {
        font-size: 10.5vw;
        padding-bottom: 10px;
    }
    .choice{
        font-size: 10.5vw;
    }
    
    .btnX , .btnO {
        font-size: 8.5vw;
       
    }
    .buttons{
        margin-top: 4%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
   
.workPlayer{
    margin-top: 20%;
    margin-left: -60%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 25vw;
    align-items: center;
    height:15vw;
    width: 75vw;
    padding: 10vw;
    font-size: 8.5vw;
    margin-bottom: 10vw;
   
}
.active{
    margin: 2vw;
    background-color:#34568B;
    text-align: center;
    padding: 2.5vw;
    color: white;
    height: 25vw;
    width: 25vw;
}

.play{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,25vw);
}


.aim{
    margin: 2vw;
    margin-left: -100%;
    height: 25vw;
    width: 25vw;
    text-align: center;
    padding: 5vw;
    border: 0vw solid#34568B;
    font-size: 13.5vw;
    }
    
.result{
  margin: 10vw;
margin-left: 0.5vw;
    margin-top: 10vw;
    height: 50vw;   
    width: 100vw;
    transition: all 1.2s ease-in-out;
}

.winner{
    font-size: 8.5vw;
    margin-top: 50vw;
    }
.result > button {
    margin-top: 10%;
    font-size: 5vw;
    height: 20vw;
    width: 30vw;
    padding: 1.5vw;
}
  }